<div class="jumbotron">
    <div class="container-fluid">
        <h2 class="pageTitle">Home Page - News</h2>
    </div>
</div>

<div class="container-fluid p-5">
    <div *ngIf="news">
        <div *ngFor="let n of news" class="media">
            <div class="shadow media-body p-4">
                <h3 class="text-primary">{{n.title}} <span
                        class="badge badge-secondary">{{n.date.toDateString()}}</span></h3>
                <span class="p-3">
                    <p>{{n.content}}</p>
                </span>
            </div>
        </div>
    </div>
</div>