<div class="jumbotron">
    <div class="container-fluid">
        <h2 class="pageTitle">Book List</h2>
    </div>
</div>

<div class="container-fluid p-5">
    <div *ngIf="books">
        <div *ngFor="let b of books" class="media">
            <div class="shadow media-body p-4">
                <h3 class="text-primary">
                    <a routerLink="/detail" [queryParams]="{id: b.id}">"{{b.title}}"</a>
                </h3>
                <div class="p-3">
                    <p>
                        <i class="font-weight-bolder">Author: </i>{{b.author}}
                    </p>
                    <p>
                        <i class="font-weight-bolder">Date of Publication: </i>
                        {{b.date !== null ? (b.date.toDateString() | date) : "Unknown"}}
                    </p>
                    <!-- only show 150 characters as preview -->
                    <p *ngIf="b.content" class="font-weight-normal">"{{b.content.substring(0, 150)}}..."</p>
                </div>
            </div>
        </div>
    </div>
</div>