<div class="jumbotron">
    <div class="container-fluid">
        <h1>Book List</h1>
    </div>
</div>

<div class="container-fluid p-5">
    <div *ngIf="books">
        <div *ngFor="let b of books" class="media">
            <div class="shadow media-body p-3 m-5">
                <h2 class="display-4 text-primary">"{{b.title}}"</h2>
                <span class="p-3">
                    <p class="font-weight-bolder lead"><i>Author:</i>
                        {{b.author}}</p>
                    <p class="font-weight-bolder lead"><i>Date of Publication:</i>
                        {{b.date.toDateString() | date}}</p>
                    <!-- only show 150 characters as preview -->
                    <p *ngIf="b.content" class="font-weight-normal">{{b.content.substring(0, 150)}}...</p>
                </span>
            </div>
        </div>
    </div>
</div>