<div class="jumbotron">
    <div class="container-fluid">
        <h1>Order Confirmation</h1>
    </div>
</div>

<div class="container-fluid p-5">
    <h2 class="text-primary">Your Order:</h2>
    <div *ngFor="let book of cart; let i = index" class="media">
        <div class="shadow media-body p-2 m-3">
            <h2 class="text-info ">{{i + 1}}. "{{book.title}}"</h2>
            <p class="font-weight-bolder lead"><i>Price:</i>
                {{book.price}}</p>
        </div>
    </div>
    <div class="pt-3">
        <h2 class="text-primary">Delivery:</h2>
        <div style="font-size: 150%">
            <div class="form-check p-2 m-3">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="deliveryRdBtn"
                        (change)="selectRadioButton(SAME_DAY)">
                    Same day - {{SAME_DAY | currency : '£'}}
                </label>
            </div>
            <div class="form-check p-2 m-3">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="deliveryRdBtn"
                        (change)="selectRadioButton(THREE_TO_FIVE_DAYS)">
                    3-5 days - {{THREE_TO_FIVE_DAYS | currency : '£'}}
                </label>
            </div>
            <div class="form-check p-2 m-3">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="deliveryRdBtn"
                        (change)="selectRadioButton(ONE_WEEK)">
                    One week - {{ONE_WEEK | currency : '£'}}
                </label>
            </div>
        </div>
    </div>
    <div class=" container p-4 m-4 text-right">
        <h2 class="text-primary">Total:
            {{deliveryPrice !== undefined ? deliveryPrice + booksPrice : booksPrice | currency: '£'}}
        </h2>
        <button class="btn btn-primary" *ngIf="cart.length && deliveryPrice" (click)="confirmOrder()">Confirm</button>
    </div>
</div>