<div class="jumbotron">
    <div class="container-fluid">
        <h2>Book Details</h2>
    </div>
</div>

<div class="container-fluid p-5">
    <div *ngIf="book" class="media">
        <div class="shadow media-body p-4">
            <h3 class="text-primary">"{{book.title}}"</h3>
            <span class="p-3">
                <img *ngIf="book.img" [src]="book.img" alt="" class="img-fluid float-right"
                    style="max-width: 100%; height: auto;">
                <p>
                    <i class="font-weight-bolder">Author:</i>
                    {{book.author}}
                </p>
                <p>
                    <i class="font-weight-bolder">Date of Publication:</i>
                    {{book.date !== null ? (book.date.toDateString() | date) : "Unknown"}}
                </p>
                <p>
                    <i class="font-weight-bolder">Price:</i>
                    {{book.price | currency: '£'}}
                </p>
                <p><i class="font-weight-bolder">Content Preview:</i></p>
                <p *ngIf="book.content" class="font-weight-normal">"{{book.content}}"</p>
                <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
            </span>
        </div>
    </div>
</div>