<div class="jumbotron">
    <div class="container-fluid">
        <h1>Checkout</h1>
    </div>
</div>

<div class="container-fluid p-5">
    <h2 class="text-primary">Your Cart: </h2>

    <div *ngIf="cart.length else emptyNotifi"></div>
    <ng-template #emptyNotifi>
        <br>
        <div class="alert alert-info">
            <p class="text-center display-4">Oops Your cart is empty, go pick one! :D</p>
        </div>
        <br>
    </ng-template>

    <div *ngFor="let book of cart; let i = index" class="media">
        <div class="shadow media-body p-2 m-3">
            <h2 class="text-info ">{{i + 1}}. "{{book.title}}"</h2>
            <p class="font-weight-bolder lead"><i>Price:</i>
                {{book.price}}</p>
            <button class="btn btn-primary" (click)="removeFromCart(book.id)">Remove From Cart</button>
        </div>
    </div>
    <div class="container p-4 m-4 text-right">
        <h2 class="text-primary" *ngIf="cart.length">Total: {{getTotal() | currency: '£'}} (excl. delivery)</h2>
        <button class="btn btn-primary" *ngIf="cart.length" routerLink="/order">Checkout</button>
    </div>
</div>