<div class="jumbotron">
    <div class="container-fluid">
        <h2>Order Review</h2>
    </div>
</div>


<div *ngIf="!orderSent" class="alert alert-info">
    <p class="text-center">No order can be displayed</p>
</div>

<div *ngIf="orderSent" class="container-fluid p-5">

    <h3 class="text-primary">Ordered Books: <span class="badge badge-secondary">Order Id: {{orderSent.orderId}} Date:
            {{orderSent.date}}</span></h3>
    <div *ngFor="let b of orderSent.books; let i = index" class="media">
        <div class="shadow media-body p-2">
            <h3 class="text-info ">{{i + 1}}. "<i>Book:</i> {{b.book.title}}"</h3>
            <p class="font-weight-bolder"><i>Amount:</i> {{b.amount}}</p>
            <p class="font-weight-bolder"><i>Price:</i> {{b.book.price * b.amount}}</p>
        </div>
    </div>
    <div class="pt-3">
        <h3 class="text-primary">Selected Delivery Option:</h3>
        <div>
            <div class="form-check p-3">
                <label class="form-check-label">
                    {{orderSent.deliveryOption.name}} - {{orderSent.deliveryOption.price | currency: '£'}}
                </label>
            </div>
        </div>
    </div>

    <div class="pt-3">
        <h3 class="text-primary">Your Address: <span style="font-size: 50%">(<span style="color: brown;">*</span>
                required)</span></h3>
        <div class="form-group">
            <label for="addOne"><span style="color: brown;">*</span> Address 1</label>
            <input disabled=true type="text" class="form-control" id="addOne" [ngModel]="orderSent.address.firstLine">
        </div>
        <div class="form-group">
            <label for="addTwo">Address 2</label>
            <input disabled=true type="text" class="form-control" id="addTwo" [ngModel]="orderSent.address.secondLine">
        </div>
        <div class="form-group">
            <label for="city"><span style="color: brown;">*</span> City</label>
            <input disabled=true type="text" class="form-control" id="city" [ngModel]="orderSent.address.city">
        </div>
        <div class="form-group">
            <label for="county"><span style="color: brown;">*</span> County</label>
            <input disabled=true type="text" class="form-control" id="county" [ngModel]="orderSent.address.county">
        </div>
        <div class="form-group">
            <label for="postcode"><span style="color: brown;">*</span> Postcode</label>
            <input disabled=true type="text" class="form-control" id="postcode" [ngModel]="orderSent.address.postCode">
        </div>
    </div>

    <div class="pt-3">
        <h3 class="text-primary">Your Contact: </h3>
        <div class="form-group">
            <label for="firstName"><span style="color: brown;">*</span> First Name</label>
            <input disabled=true type="text" class="form-control" placeholder="Enter first name" id="firstName"
                [ngModel]="orderSent.firstName">
        </div>
        <div class="form-group">
            <label for="lastName"><span style="color: brown;">*</span> Last Name</label>
            <input disabled=true type="text" class="form-control" placeholder="Enter last name" id="lastName"
                [ngModel]="orderSent.lastName">
        </div>
    </div>
    <div class=" container p-4 m-4 text-right">
        <h3 class="text-primary">Total: {{orderSent.price | currency: '£'}}
        </h3>
    </div>
</div>