<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- bookstore title/brand name -->
    <a class="navbar-brand">BookStore</a>
    <!-- nav links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Book List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Book Detail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Checkout</a>
        </li>
    </ul>
</nav>