<div class="jumbotron">
    <div class="container-fluid">
        <h2>Orders</h2>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <h3>List of Orders</h3>
            <div class="text-right p-3">
                <button class="btn btn-primary p-2" (click)="createEmptyTempOrder()">Create One</button>
            </div>
            <ul *ngFor="let o of orders" class="list-group">
                <a class="list-group-item list-group-item-action" (click)="selectOrder(o)">ID:{{o.orderId}} -
                    "{{o.firstName}} {{o.lastName}}"
                </a>
            </ul>
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8">
            <div *ngIf="selectedOrder">
                <div *ngIf="selectedOrder">
                    <div class="shadow p-3">
                        <h3 class="text-primary">Order ID: {{selectedOrder.orderId}}</h3>
                        <div class="form-group">
                            <label for="id">ID: <span *ngIf="selectedOrder.orderId === null" style="color:brown">Will Be
                                    Created</span></label>
                            <input type="text" disabled="true" class="form-control" id="id"
                                [value]="selectedOrder.orderId">
                        </div>
                        <div class="form-group">
                            <label for="date">DATE: <span class="font-size: 75%">(YYYY-MM-DD)</span></label>
                            <input type="text" class="form-control" id="date" disabled=true [value]="today()">
                        </div>
                        <div class="form-group">
                            <label for="firstName">FIRST NAME: </label>
                            <input type="text" class="form-control" id="firstName"
                                [(ngModel)]="selectedOrder.firstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName">LAST NAME: </label>
                            <input type="text" class="form-control" id="lastName" [(ngModel)]="selectedOrder.lastName">
                        </div>
                        <div>
                            <h3>ADDRESS:</h3>
                            <div class="form-group">
                                <label for="firstLine">FIRST LINE: </label>
                                <input type="text" class="form-control" id="firstLine"
                                    [(ngModel)]="selectedOrder.address.firstLine">
                            </div>
                            <div *ngIf="selectedOrder.address.secondLine" class="form-group">
                                <label for="secondLine">SECOND LINE: </label>
                                <input type="text" class="form-control" id="secondLine"
                                    [(ngModel)]="selectedOrder.address.secondLine">
                            </div>
                            <div class="form-group">
                                <label for="county">COUNTY: </label>
                                <input type="text" class="form-control" id="county"
                                    [(ngModel)]="selectedOrder.address.county">
                            </div>
                            <div class="form-group">
                                <label for="city">CITY: </label>
                                <input type="text" class="form-control" id="city"
                                    [(ngModel)]="selectedOrder.address.city">
                            </div>
                            <div class="form-group">
                                <label for="postCode">POSTCODE: </label>
                                <input type="text" class="form-control" id="postCode"
                                    [(ngModel)]="selectedOrder.address.postCode">
                            </div>
                        </div>
                        <div>
                            <h3>Books In Order:</h3>
                            <div *ngFor="let b of selectedOrder.booksOnOrder; let j = index" class="p-1">
                                <div class="rounded p-2" style="background-color: slategrey;">
                                    <div class="form-group">
                                        <label for="bookId" style="color: white;">BOOK ID:</label>
                                        <input disabled="true" type="text" class="form-control" id="bookId"
                                            [value]="b.book.id">
                                    </div>
                                    <div class="form-group">
                                        <label for="bookTitle" style="color: white;">BOOK TITLE:
                                        </label>
                                        <input type="text" disabled="true" class="form-control" id="bookTitle"
                                            [value]="b.book.title">
                                    </div>
                                    <div class="form-group">
                                        <label for="bookAmount" style="color: white;">Amount: </label>
                                        <input type="text" class="form-control" id="bookAmount" [(ngModel)]="b.amount">
                                    </div>
                                    <button class="btn btn-primary m-1" (click)="removeBookFromSelectedOrder(j)">REMOVE
                                        BOOK</button>
                                </div>
                            </div>
                            <div class="shadow rounded p-2 m-3">
                                <h4><span class="badge badge-pill badge-primary">Add Book</span></h4>
                                <div class="form-group">
                                    <label for="tempBookId">BOOK ID:
                                    </label>
                                    <input type="text" class="form-control" id="tempBookId"
                                        [(ngModel)]="tempBook.book.id" (keyup)="updateTempBookTitle(tempBook.book.id)">
                                </div>
                                <div class="form-group">
                                    <label for="tempBookTitle">BOOK TITLE:
                                    </label>
                                    <input type="text" disabled="true" class="form-control" id="tempBookTitle"
                                        [value]="tempBook.book.title"
                                        placeholder="Title Updated While You Change BookID">
                                </div>
                                <div class="form-group">
                                    <label for="tempBookAmount">Amount: </label>
                                    <input type="text" class="form-control" id="tempBookAmount"
                                        [(ngModel)]="tempBook.amount">
                                </div>
                                <button class="btn btn-primary m-1" (click)="addTempBookToTempOrder()">ADD
                                    BOOK</button>
                            </div>
                        </div>
                        <div *ngIf="!selectedOrder.orderId">
                            <h3 class="text-primary">Delivery:</h3>
                            <div *ngFor="let opt of delivOpts; let i = index">
                                <div class="form-check p-2">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="deliveryRdBtn"
                                            (change)="selectRadioButton(i)">
                                        {{opt.name}} - {{opt.price | currency : '£'}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">TOTAL PRICE: <span *ngIf="!selectedOrder.price"
                                    style="color: brown;">Calculated In Backend
                                    Automatically</span> </label>
                            <input type="text" class="form-control" id="price" disabled=true
                                [ngModel]="selectedOrder.price">
                        </div>
                        <div class="p-4 text-right">
                            <div *ngIf="selectedOrder.orderId">
                                <button class="btn btn-primary m-1" (click)="updateOrder(selectedOrder)">UPDATE</button>
                                <button class="btn btn-primary m-1" (click)="deleteOrder(selectedOrder)">DELETE</button>
                            </div>
                            <button *ngIf="!selectedOrder.orderId" class="btn btn-primary m-1"
                                (click)="createOrder(selectedOrder)">CREATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>