<div class="jumbotron">
    <div class="container-fluid">
        <h1>Orders</h1>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <h2>List of Orders</h2>
            <div class="text-right m-3">
                <button class="btn btn-primary" (click)="createOrderTemplate()">Create One</button>
            </div>
            <ul *ngFor=" let o of orders; let i=index" class="list-group">
                <a class="list-group-item list-group-item-action" (click)="selectOrder(i)">ID:{{o.orderId}} -
                    "{{o.firstName}} {{o.lastName}}"
                </a>
            </ul>
        </div>
        <div class=" col-sm-9 col-md-6 col-lg-8">
            <div *ngIf="selectedOrder">
                <div *ngIf="selectedOrder" class="media">
                    <div class="shadow media-body p-3 m-5">
                        <h2 class="display-4 text-primary">Order ID: {{selectedOrder.orderId}}</h2>
                        <div class="form-group">
                            <label for="id">ID:</label>
                            <input type="text" [disabled]="selectedOrder.orderId !== null" class="form-control" id="id"
                                [value]="selectedOrder.orderId">
                        </div>
                        <div class="form-group">
                            <label for="date">DATE: (YYYY-MM-DD)</label>
                            <input type="text" class="form-control" id="date" disabled=true [value]="today()">
                        </div>
                        <div class="form-group">
                            <label for="firstName">FIRST NAME: </label>
                            <input type="text" class="form-control" id="firstName"
                                [(ngModel)]="selectedOrder.firstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName">LAST NAME: </label>
                            <input type="text" class="form-control" id="lastName" [(ngModel)]="selectedOrder.lastName">
                        </div>
                        <div>
                            <h3>ADDRESS:</h3>
                            <div class="form-group">
                                <label for="firstLine">FIRST LINE: </label>
                                <input type="text" class="form-control" id="firstLine"
                                    [(ngModel)]="selectedOrder.address.firstLine">
                            </div>
                            <div *ngIf="selectedOrder.address.secondLine" class="form-group">
                                <label for="secondLine">SECOND LINE: </label>
                                <input type="text" class="form-control" id="secondLine"
                                    [(ngModel)]="selectedOrder.address.secondLine">
                            </div>
                            <div class="form-group">
                                <label for="city">CITY: </label>
                                <input type="text" class="form-control" id="city"
                                    [(ngModel)]="selectedOrder.address.city">
                            </div>
                            <div class="form-group">
                                <label for="postCode">POSTCODE: </label>
                                <input type="text" class="form-control" id="postCode"
                                    [(ngModel)]="selectedOrder.address.postCode">
                            </div>
                        </div>
                        <div>
                            <h3>Books In Order:</h3>
                            <div *ngFor="let b of selectedOrder.booksOnOrder; let j = index">
                                <div class="rounded p-2 m-1" style="background-color: slategrey;">
                                    <div class="form-group">
                                        <label for="bookId" style="color: white;">BOOK ID:
                                            "{{findBookTitle(selectedOrder.booksOnOrder[j].book.id)}}"</label>
                                        <input type="text" class="form-control" id="bookId" [(ngModel)]="b.book.id">
                                    </div>
                                    <div class="form-group">
                                        <label for="bookAmount" style="color: white;">Amount: </label>
                                        <input type="text" class="form-control" id="bookAmount" [(ngModel)]="b.amount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">TOTAL PRICE: <span *ngIf="!selectedOrder.price"
                                    style="color: brown;">Calculated In Backend
                                    Automatically</span> </label>
                            <input type="text" class="form-control" id="price" disabled=true
                                [ngModel]="selectedOrder.price">
                        </div>
                        <div class=" container p-4 m-4 text-right">
                            <div *ngIf="selectedOrder.orderId">
                                <button class="btn btn-primary m-1" (click)="updateOrder(selectedOrder)">UPDATE</button>
                                <button class="btn btn-primary m-1" (click)="deleteOrder(selectedOrder)">DELETE</button>
                            </div>
                            <button *ngIf="!selectedOrder.orderId" class="btn btn-primary m-1"
                                (click)="createOrder(selectedOrder)">CREATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>